<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/main.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>DopMPT</title>
  </head>
  <body>
    <header class="header-outer">
      <div class="header-inner responsive-wrapper">
          <div class="header-logo">
            <img src="/public/logo.svg" alt="DopMPT"/>
          </div>
          <nav class="header-navigation">
              <a href="/views/authorization.html">Войти</a>
              <a href="/views/profile.html">Профиль</a>
          </nav>
      </div>
  </header>
  <main class="main">
    <div class="aside-outer">
        <div class="aside-inner">
          <aside class="aside-left">
        </aside>
        </div>
    </div>
    <div class="center">
      <h1 style="color: #FFA200;">Статистика</h1>
      <h3>Здесь вы можете посмотреть количество просмотров и комментариев по темам</h3>
      <h2 style="color: #319aa6b2;">Статистика в таблице</h2>
      <p></p>
      <div class="appointment-table" style="border: 1px solid #FFA200; border-radius: 8px; width: 80%; height: 400px; overflow-x: auto; padding: 20px; margin-top: 50px; margin-bottom: 50px; margin-left: 10%;">
        <table id="statisticsTable" style="border-spacing: 30px;">
          <thead>
            <tr style="margin-left: 30px;">
              <th>Дата</th>
              <th>Тема</th>
              <th>Тип темы</th>
              <th>Количество просмотров</th>
              <th>Количество комментариев</th>
            </tr>
          </thead>
          <tbody style="overflow-x: auto;  width: 100px; height: 100px;" id="statisticsTableBody">
          </tbody>
        </table>
      </div>
      <p></p>

      <p></p>
      <h2 style="color: #319aa6b2;">Статистика в графиках</h2>
    </div>
      <div class="chartCard">
        <div class="chartBox">
          <h1></h1>
          <canvas id="myChart"></canvas>
          <canvas id="myChartComments"></canvas>
        </div>
      </div>
      <p></p>
    </div>
  </main>
  <footer class="footer-outer">
    <div class="footer-inner responsive-wrapper">
        <h1>Разработано DopMPT © 2024 - Все права защищены</h1>
    </div>
  </footer>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script src="/src/statistics.js"></script>
    <script src="/src/menu.js"></script>
  </body>
</html>